body{
    background: blue;
}
h1 {
    
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}
.bg-Square{
    height: 200px;
    width: 100%;
    background-color: black;
    color: #fff;
    margin: 15px;
}
#sm-Square{
    height: 200px;
    width: 300px;
    background-color: navy;
    color: #fff;
    margin-top: 20px;
    
}
#sm-Square-tiny{
    height: 50px;
    width: 300px;
    background-color: navy;
    color: #fff;
    margin-top: 20px;
    
}
